# Environment variables
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# SQLite database
*.db
*.sqlite3
data/

# Logs
*.log
logs/

# OS metadata
.DS_Store
Thumbs.db
